<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, viewport-fit=cover"
/>
<meta name="author" content="George W. Park" />
<meta
  name="description"
  content="This project uses React and the fetch API to retrieve mission/launch info from the SpaceX REST API and display that info in a responsive table."
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap"
  rel="stylesheet"
/>
